<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

  <property name="PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{traceId:-}] %logger{36} - %msg%n%ex"/>

  <!-- ================= local: 콘솔 ================= -->
  <springProfile name="local">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
      <encoder>
        <pattern>${PATTERN}</pattern>
      </encoder>
    </appender>

    <logger level="OFF" name="org.hibernate.SQL"/>

    <logger level="OFF" name="org.hibernate.orm.jdbc.bind"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- ================= dev: 콘솔 (기존 파일 설정 제거) ================= -->
  <springProfile name="dev">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
      <encoder>
        <pattern>${PATTERN}</pattern>
      </encoder>
    </appender>

    <!-- SQL 로그 등을 보고 싶다면 레벨 조절 가능 -->
    <logger additivity="false" level="DEBUG" name="datasource-proxy">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 우리 애플리케이션 패키지 로그는 DEBUG로 설정 -->
    <logger name="com.LetMeDoWith" level="DEBUG"/>

    <logger level="OFF" name="org.hibernate.SQL"/>
    <logger level="OFF" name="org.hibernate.orm.jdbc.bind"/>

    <!-- 전체 시스템 로그는 INFO로 설정 (너무 많은 로그 방지) -->
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>

  </springProfile>

  <springProfile name="test">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
      <encoder>
        <pattern>${PATTERN}</pattern>
      </encoder>
    </appender>

    <logger additivity="false" level="DEBUG" name="datasource-proxy">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.LetMeDoWith" level="INFO"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
